:root {
  --indigo: #242f9b;
  --faint-indigo: #4b57c0;
  --cloudy-indigo: #646fd4;
  --dip-lavender: #7a86ef;
  --light-lavender: #9ba3eb;
  --pale-lavender: #dbdffd;
  --horizontal-space: 25px;
  --main-border: 1px solid var(--pale-lavender);
}
