.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  color: var(--cloudy-indigo);
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: bold;
}

.welcome-header__text {
  width: 50%;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
}

#login-form input:not([type="submit"]) {
  margin-bottom: 25px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input:focus {
  border-color: var(--dip-lavender);
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input[type="submit"] {
  background-color: var(--pale-lavender);
  color: var(--cloudy-indigo);

  margin-top: 10px;
  padding: 20px 0px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#login-form input[type="submit"]:hover {
  background-color: var(--dip-lavender);
  color: whitesmoke;
}

#login-form a {
  margin-top: 25px;
  text-align: center;
  color: inherit;
  font-size: 15px;
}

#login-form a:hover {
  color: tomato;
}
