.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.badge--dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: tomato;
}

.badge--dot--find-screen {
  position: absolute;
  right: 15px;
  top: 50px;
}
