.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 50px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 32px;
  font-weight: bold;
  color: var(--indigo);
}

.screen-header__icons span {
  margin-left: 25px;
  color: var(--faint-indigo);
}

.screen-header__icons span:hover {
  color: tomato;
}

.screen-header__icons span a:hover {
  color: tomato;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotate(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateCog 3s linear infinite;
}
